$primary: #6dbd45;
$secondary: #95cd39;
$tertiary: #cbdb2a;

$lines_primary: #d8d8d8;
$lines_secondary: #e9e9e9;
$lines_tertiary: #ececec;

$background_primary: #f9f9f9;
$background_secondary: #f0f0f0;
$background_tertiary: #e3e3e3;
$background_quaternary: #ffffff;

$box_white: #ffffff;
$box_dark: #181818;

$fail: #f65353;
$success: #6dbd45;

$discount_selector_disabled: #cacaca;

$input_field_label_disabled: #afafb3;
$input_field_text_disabled: #727272;
$input_field_border_disabled: #e6e6e6;
